@using HairSalon.Models;

@{
  Layout = "_Layout";
}

<div class="container">
<div class="jumbotron">
<h2>Specialty: @Model["selectedSpecialty"].GetName()</h2>
</div>
<div class="menu">

@if (@Model["specialtyStylists"].Count != 0)
{
  <h4>This specialty has these stylists:</h4>
  <ul>
    @foreach (Stylist stylist in @Model["specialtyStylists"])
    {
      <li>@stylist.GetName()</li>
    }
  </ul>
}

<h4>Add a stylist to this specialty:</h4>

<form action='/specialties/@Model["selectedSpecialty"].GetId()/stylists/new' method='post'>
  <label for='stylistId'>Select a stylist</label>
  <select id='stylistId' name='stylistId' type='text'>
    @foreach (var stylist in @Model["allStylists"])
    {
      <option value='@stylist.GetId()'>@stylist.GetName()</option>
    }
  </select>
  <button class="btn btn-warning" type='submit'>Add</button>
</form>

<br>
<form action='/specialties/@Model["selectedSpecialty"].GetId()/delete' method='post'>
<button type="submit" class="btn btn-danger">Delete this specialty</button>
</form>
<br>

<form action='/' method='get'>
<button type="submit" class="btn btn-info">Home</button>
</form>
</div>
</div>
