@using HairSalon.Models;
@{
  Layout = "_Layout";
}

<div class="container">
<div class="jumbotron">

  <h2>Stylist @Model["stylist"].GetName()</h2>

</div>
<div class="row row-eq-height">
<div class="well col-xs-6">

  <h4>Add a specialty to this stylist:</h4>

  <form action='/stylists/@Model["stylist"].GetId()/specialties/new' method='post'>
    <label for='specialtyId'>Select a specialty</label>
    <select id='specialtyId' name='specialtyId' type='text'>
      @foreach (var specialty in @Model["allSpecialties"])
      {
        <option value='@specialty.GetId()'>@specialty.GetName()</option>
      }
    </select>
    <button class="btn btn-warning" type='submit'>Add</button>
  </form>

  <br>
  <form action='/stylists/@Model["stylist"].GetId()/edit' method='get'>
  <button type="submit" class="btn btn-warning">Edit this stylist</button>
  </form>
  <br>
  <form action='/stylists/@Model["stylist"].GetId()/clients/new' method='get'>
  <button type="submit" class="btn btn-warning">Add a new client</button>
  </form>
  <br>
  <form action='/stylists/@Model["stylist"].GetId()/delete' method='post'>
  <button type="submit" class="btn btn-danger">Delete this stylist</button>
  </form>
  <br>
  <form action='/stylists/@Model["stylist"].GetId()/clients/delete' method='post'>
  <button type="submit" class="btn btn-danger">Delete all clients</button>
  </form>
  <br>
  <form action='/stylists' method='get'>
  <button type="submit" class="btn btn-info">View all stylists</button>
  </form>
  <br>
  <form action='/' method='get'>
  <button type="submit" class="btn btn-info">Home</button>
  </form>

</div>
<div class="well col-xs-6">


  @if (@Model["stylistSpecialties"].Count != 0)
  {
    <h4>This stylist is specialized in:</h4>
    <ul>
      @foreach (Specialty specialty in @Model["stylistSpecialties"])
      {
        <li>@specialty.GetName()</li>
      }
    </ul>
  }

@if (@Model["clients"].Count != 0)
{
  <h4>This stylist's clients':</h4>
  <ol>
  @foreach (var client in @Model["clients"])
  {
    <li><a href='/stylists/@Model["stylist"].GetId()/clients/@client.GetId()'>@client.GetName()</a></li>
  }
  </ol>
}


</div>
</div>
</div>
